
.cq-dialog.item-dialog.cq-dialog-floating {
	width: 35rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1030;
	border: 0.5rem solid rgba(120, 120, 120, 0.8);
	box-shadow: 0.0625rem 0.4375rem 1.5rem 0rem rgba(120, 120, 120, 0.8);
}

.coral-GenericMultiField {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: .0625rem solid #e9e9e9;
	padding: .25rem .5rem;
	vertical-align: top;
}

.coral-GenericMultiField[data-renderreadonly] {
	background: none;
	border: none;
	padding: 0;
}

.coral--dark .coral-GenericMultiField {
	border-color: #434343;
	background-color: #484848;
}

.coral-GenericMultiField-list {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

.coral-GenericMultiField-add,
.coral-GenericMultiField-remove,
.coral-GenericMultiField-move {
	width: 2.375rem;
	height: 2.375rem;
}

.coral-GenericMultiField-add {
	margin-top: .125rem;
	margin-left: -.125rem;
}

.coral-GenericMultiField-label{
	position: relative;
	padding: .625rem;
	padding-right: 7rem;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	height: 16px;
}

.coral-GenericMultiField-edit {
	position: absolute;
	top: 0;
	right: 2.8rem;
	padding-top: 7px;
}

.coral-GenericMultiField-remove {
	position: absolute;
	top: 0;
	right: 4.5rem;
}

.coral-GenericMultiField-move {
	cursor: url("/etc/clientlibs/granite/coralui2/resources/shared/cursors/openhand.cur");
	position: absolute;
	top: 0;
	right: 0;
	width: 2.375rem;
	height: 2.375rem;
}

.coral-GenericMultiField .coral-GenericMultiField-listEntry {
	border: .0625rem solid rgba(0,0,0,0.15);
	position: relative;
	margin-top: .25rem;
}

.coral-GenericMultiField  .coral-GenericMultiField-listEntry:only-child .coral-GenericMultiField-move {
	display: none;
}

.coral-GenericMultiField  .coral-GenericMultiField-listEntry.is-dragging {
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	background-color: rgba(128,128,128,0.5);
}

.coral-GenericMultiField .drag-after {
	position: relative;
	top: 2.625rem;
}

.coral-Form--vertical .coral-Form-field.coral-GenericMultiField {
	display: block;
}

.coral-GenericMultiField-storageWarning{
	color: #969696;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}