.coral-GenericMultiField {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: .0625rem solid #e9e9e9;
    padding: .5rem;
    vertical-align: top;
}

.coral-GenericMultiField[data-renderreadonly] {
    background: none;
    border: none;
    padding: 0;
}

.coral--dark .coral-GenericMultiField {
    border-color: #434343;
    background-color: #484848;
}

.coral-GenericMultiField-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.coral-SpectrumMultiField-edit,
.coral-SpectrumMultiField-remove,
.coral-SpectrumMultiField-move {
    width: 2.375rem;
    height: 2.375rem;
}

.coral-SpectrumMultiField-add {
    margin-top: 1.5rem;
    margin-left: 0.25rem;
}

.coral-GenericMultiField-label {
    position: relative;
    padding: .625rem 7rem .625rem .625rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.coral-SpectrumMultiField-edit {
    position: absolute;
    top: 0;
    right: 2.1rem;
}

.coral-SpectrumMultiField-remove {
    position: absolute;
    top: 0;
    right: 4.2rem;
}

.coral-SpectrumMultiField-move {
    cursor: move;
    position: absolute;
    top: 0;
    right: 0;
    width: 2.375rem;
    height: 2.375rem;
}

.coral-GenericMultiField .coral-GenericMultiField-listEntry {
    border: .0625rem solid rgba(0, 0, 0, 0.15);
    position: relative;
    margin-top: .25rem;
    background-color: rgb(255, 255, 255);
}

.coral-GenericMultiField .coral-GenericMultiField-listEntry:only-child .coral-GenericMultiField-move {
    display: none;
}

.coral-GenericMultiField .coral-GenericMultiField-listEntry.is-dragging {
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: rgba(128, 128, 128, 0.5);
}

.coral-GenericMultiField .drag-after {
    position: relative;
    top: 2.625rem;
}

.coral-Form--vertical .coral-Form-field.coral-GenericMultiField {
    display: block;
    background-color: rgba(80, 80, 80, 0.02);
}

.coral-GenericMultiField-storageWarning {
    color: #969696;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.coral-GenericMultiField.is-invalid {
    border-color: #e14132;
    color: #e14132;
    border-width: 2px
}

.coral-GenericMultiField.is-invalid + coral-icon.coral-Form-fielderror._coral-Icon._coral-Icon--sizeS {
    height: 14px;
    width: 14px;
}

.coral-GenericMultiField.is-disabled {
    color: #bebebe;
}

.coral-GenericMultiField.is-disabled .coral-GenericMultiField-listEntry {
    background-color: #f0f0f0;
}

.cq-dialog-backdrop-GenericMultiField {
    z-index: 920;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    -ms-transition: opacity 0.35s;
    transition: opacity 0.35s;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

/* hide the generic multifield backdrop if original backdrop is visible */
.cq-dialog-backdrop:not([style*='display:none']):not([style*='display: none']) ~ .cq-dialog-backdrop-GenericMultiField {
    display: none;
}

._coral-Dialog-content {
    overflow-x: hidden !important;
}