name: Release & deploy

on:
  push:
    branches:
      - master

jobs:
  verify:

    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      # Setup Java environment
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: zulu
      # Run maven verify (includes unit tests)
      - name: Maven verify
        run: mvn verify --batch-mode

  release:

    needs: verify
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      # Setup Java environment
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: zulu
      # Install xmllint
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libxml2-utils
      # Set git username and email
      - name: Set up Git
        run: |
          chmod +x ci/setup-git.sh
          ci/setup-git.sh
      # Release, set correct versions and create a tag
      - name: Release (versioning/tag)
        run: |
          chmod +x ci/mvn-release.sh
          ci/mvn-release.sh

  deploy-release:

    needs: [ verify, release ]
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: 'master'
      # Setup Java environment
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 11
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      # Deploy release (to Sonatype)
      - name: Release Maven package
        run: mvn deploy -Pdeploy
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_USER }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
