name: verify

on:
  push:
    branches-ignore:
      - develop
      - master

jobs:
  verify:

    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v4
      # Setup Java environment
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
      # Run maven verify
      - name: Maven verify
        run: mvn verify --batch-mode
