name: CI feature

on:
  push:
    branches-ignore:
      - master
      - develop

jobs:
  verify:

    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v6
      # Setup Java environment
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: zulu
      # Run maven verify (includes unit tests)
      - name: Maven verify
        run: mvn verify --batch-mode
